<!DOCTYPE >
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Chalet</title>
    <!-- Load Vue followed by Vue Router -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="./assets/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <div class="header-container">
          <h1>À la bonne franquette</h1>
          <nav>
            <router-link to="/">Accueil</router-link>
            <router-link to="/ListChalet">Les chalets</router-link>
            <router-link to="/CreateChalet">Mettre une annonce</router-link>
            <router-link to="/HistoryChalet">Historique</router-link>
            <router-link to="/MyProfile" v-if="connected">Mon profil</router-link>
            <router-link to="/register" v-if="! connected"
              >S'enregister</router-link
            >
            <router-link to="/login" v-if="! connected">Connexion</router-link>
          </div>
        </nav>
      </header>
      <main>
        <router-view
          :connected="connected"
          :current-user="currentUser"
          :list-chalet="listChalet"
          :history="history"
          @add-user="addUser"
          @login="login"
        ></router-view>
      </main>
    </div>
    <script src="/vue-application.js"></script>
  </body>
</html>
